html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*
  Frameless      <http://framelessgrid.com/>
  by Joni Korpi     <http://jonikorpi.com/>
  licensed under CC0  <http://creativecommons.org/publicdomain/zero/1.0/>
*/
/*
  Margin, padding, and border resets
  except for form elements
*/
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
  Consistency fixes
  adopted from http://necolas.github.com/normalize.css/
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
  display: block;
}

body {
  min-height: 100%;
  font-size: 100%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

b, strong {
  font-weight: bold;
}

abbr[title] {
  border-bottom: 1px dotted;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img, img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}

input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  overflow: auto;
}

/*
  These are easy to forget
*/
::selection {
  background: #66d1b4;
  color: white;
}

::-moz-selection {
  background: #66d1b4;
  color: white;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/*
  Style overrides for IE6-8
  http://jonikorpi.com/leaving-old-IE-behind/
*/
body {
  font-family: "Merriweather", serif;
  font-size: 12px;
  line-height: 18px;
  border-top: 6px darkred solid;
}

.wrapper {
  margin: 0 auto 20px;
  padding: 0px 1em;
  width: 78.333em;
}

h1 {
  font-size: 4.166666667em;
  line-height: 1.666666667em;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}
h1 small {
  display: block;
  font-weight: normal;
  font-size: 0.4em;
  line-height: 0.7em;
}

p {
  width: 31.667em;
  margin: 28px auto;
  font-size: 1.333333333em;
  line-height: 1.5em;
  text-align: center;
}

div.tracker {
  background-color: lightgrey;
  border-radius: 10px;
  border: 1px solid grey;
}

div.tracker p {
  font-weight: bold;
}

div.space {
  height: 600px;
}
